@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	background: url(./img/Background.png);
}
.menu {
	max-width: 90%;
	height: 100%;
	margin: 6% auto 0;
	display: none;
}

.level {

	font-size: 57px;
	line-height: 67px;
}

.level__text {
	font-size: 19px;
	line-height: 22px;
	margin-bottom: 3%;;
}

.choice {

	padding-left: 3%;
}

.radio {
	position: relative;
}

.radio__input {
	display: none;
	position: absolute;
}

.radio__label {
	font-size: 50px;
	line-height: 59px;
	margin-bottom: 2%;
	list-style: none;
	padding-left: 35px;
	cursor: pointer;
}

.radio__label::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	background: #D62B2E;
	position: absolute;
	top: 22px;
	left: 0;
	opacity: 0;
}

.radio__input:checked + .radio__label::after {
	opacity: 1;
}

.select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.button {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	color: #FFFFFF;
	background: #D62B2E;
	width: 24%;
	height: 95px;
	cursor: pointer;
}

.cards {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
}

.cards__item_bottom {
	grid-column: 1 / span 8;
	grid-row: 1;
	z-index: 1;
}

.cards__item_top {
	grid-column: 4 / -1;
	grid-row: 1;
	z-index: 2;
}

.three {
	max-width: 80%;
	margin: 0 auto;
	height: 100vh;
}

.cards-three {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-three__item {
	padding: 0 10px;
	position: relative;
}

.cards-three__item:hover {
	transform: rotate(-3.08deg);
	top: -30px;
	filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

.six {
	max-width: 80%;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.six-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.cards-six__item {
	margin: 0 auto;
	position: relative;
}

.cards-six__item:hover {
	transform: rotate(-3.08deg);
	top: -30px;
	filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

.ten {
	max-width: 90%;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.ten-cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}

.ten-cards__item {
	position: relative;
}

.ten-cards__item:hover {
		transform: rotate(-3.08deg);
		top: -30px;
		filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

@media all and (max-width: 930px) {
	.menu {
		max-width: 95%;
	}

	.level {
		font-style: 50px;
		line-height: 60px;
	}

	.level__text {
		font-size: 15px;
	}

	.radio__label {
		font-size: 44px;
	}

	.button {
		font-size: 24px;
		height: 62px;
	}
}
